*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/proguard-com.twitter.sdk.android.twitter.txt
.idea/*

bin/
gen/
.classpath
.project
proguard/
*.apk
*.ipr
*.iws
*/build/
app/crashlytics.properties
app/src/main/res/values/com_crashlytics_export_strings.xml

